/*! CRITICAL:START */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;700&display=swap');
:root {
    --main-color: #b240c8;
    --main-color-light: #db7beb;
    --second-color: #4279ec;
    --accent-color: #f0ca53; /*rgb(240, 202, 83)*/

    --text-color: #ffffff;
    --text-color-midlight: #e8e8e8;
    --text-color-mid: #B8B8B8;
    --text-color-dark: #757575;

    --body-bg-color: #1D1D1F;
    --panel-bg-color: #28282B;
    --panel-bg-color-alt: #2a2a2d;
    --panel-plugin-bg-color: #2E2E2F;
    --panel-plugin-border-color: #403A44;
    --nav-bg-color: #252528;

    --btn-bg-color: #242325;
    --btn-border-color: #2F2F32;

    --icon-bg-color: #3A3A3A;
    --icon-bg-color-hover: #424242;
    --icon-border-color: #5B5B5B;

    --main-font: 'Heebo', sans-serif;
}

h1, h2, h3, h4, p, button, a, img {
    font-family: var(--main-font);
}

h1.large {
    font-size: 64px;
    font-weight: 700;
    margin: 0;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}
h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    color: var(--text-color);
}
h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}
p {
    font-size: 22px;
    margin: 0;
    color: var(--text-color-mid);
}
p.small {
    font-size: 18px;
}
button {
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}
input {
    font-size: 18px;
}

/* For discovering items that have weird margins */
/* * {
    outline: solid 1px red;
} */

body {
    margin: 0;
    padding: 0;
    background: var(--body-bg-color);
}
.main-sec {
    overflow-x: hidden;
}
/* Here for when below the fold isn't loaded yet */
.software-visual img {
    width: 10px;
}
.advanced-feeds .display {
    flex-grow: 100;
    overflow: hidden;
}


/* Top nav CSS */
.top-nav {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    height: 60px;
    padding: 0 24px;
    background: var(--nav-bg-color);
    z-index: 20;

    position:fixed;
    top:0;
}
.top-nav > div {
    display: flex;
    align-items: center;
}
.top-nav .logo {
    width: 50px;
    height: 50px;
}
.top-nav .center {
    display: flex;
    flex-direction: row;
}
.top-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-nav li {
    margin: 0 16px;
}
.top-nav li a {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color-mid);
    transition: color 0.10s;
}
.top-nav li a {
    display: inline;
    position: relative;
    overflow: hidden;
}
.top-nav li a:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: var(--accent-color);
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.top-nav li a:hover {
    color: var(--text-color);
}
.top-nav li a:hover:after,
.top-nav li a:focus:after,
.top-nav li a:active:after {
    left: 0;
    right: auto;
    width: 100%;
}

.top-nav .title {
    font-size: 36px;
    font-weight: 700;
    margin: 0 24px;
    user-select: none;
}

.top-nav .account-block {
    margin-left: auto;
    margin-right: 0;
}
.top-nav .account-block:not(.active) {
    display: none;
}
.top-nav .account-label {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-right: 16px;
}
.top-nav .account-icon {
    width: 40px;
    height: 40px;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}
.top-nav .account-icon img {
    width: 100%;
    height: 100%;
}



.landing {
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    /* background: green; */
    /* overflow-x: hidden;
    overflow-y: visible; */
    overflow: unset;
}
.landing .background {
    position: absolute;
    width: 100%;
    height: 100%;
}
.landing .background > div {
    position: relative;
    height: 150%;
}
.landing .background img.bg {
    /* TODO: Fix this so that it doesn't stretch when scaling width or doesn't crop too small on small screens */
    width: 100%;
    max-height: 100%;
}
.landing .background .bg-img {
    width: 100%;
    height: 99%;
    background-image: url(img/Landing-BG-small.jpg);
    background-size: cover;
}
.landing .background.high .bg-img-high {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 99%;
    background-image: url(img/Landing-BG-medium.jpg);
    background-size: cover;
}
@media only screen and (min-width: 700px) {
    .landing .background.high .bg-img-high {
        background-image: url(img/Landing-BG.jpg);
    }
}
.landing .background img.gem-1 {
    position: absolute;
    top: 0;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-66deg);
    width: 800px;
    filter: blur(50px) contrast(1.1);
    opacity: 50%;
}
.landing .background img.gem-2 {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(-50%, -50%) rotate(23deg);
    width: 800px;
    filter: blur(40px) contrast(1.1) brightness(1.05);
    opacity: 75%;
}
.landing .background .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(171deg, #1d1d1f00 0%, #1d1d1f3d 42%, #1d1d1fc1 60%, #1d1d1fe1 67%, #1d1d1f 80%, #1D1D1F 100%);
}
.landing .content {
    margin-top: 40px;
    z-index: 2;
}
.landing .text {
    margin-left: calc(24px + 5vw);
    width: 520px;
}
.landing .text h1 {
    letter-spacing: -0.03rem;
    line-height: 78px;
}
.landing .text p {
    letter-spacing: 0.03rem;

    margin-top: 24px;
    margin-bottom: 72px;
    color: var(--text-color-midlight);
}
.landing .text span {
    font-weight: 700;
    color: var(--text-color);
}

.landing .text .buttons {
    display: flex;
    flex-direction: column;
}
.landing .text .buttons .row {
    margin-top: 8px;
    margin-left: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.landing .text .buttons p {
    user-select: none;
    margin: 0 16px;
}
.landing .text button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 12px 32px;
    margin-right: 16px;
    border-radius: 6px;
    border: solid 2px var(--btn-border-color);
    background: var(--btn-bg-color);
    color: var(--text-color-midlight);
}
.landing .text button img {
    margin-left: 52px;
    width: 24px;
    height: 24px;
}

/* The three side images */
.landing .main-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% - 40px));

    width: 820px;
    height: 440px;
    border-radius: 5px;
    background: var(--panel-bg-color);
    z-index: -1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    background: var(--body-bg-color);

    opacity: 0;
}
.landing .menu-small-image {
    position: absolute;
    top: 50%;
    right: 290px;
    transform: translateY(calc(-50% + 80px));
    
    width: 260px;
    height: 340px;
    border-radius: 5px;
    border: solid 2px var(--panel-plugin-border-color);
    background: var(--panel-plugin-bg-color);
    box-shadow:  0px 2px 4px #00000062;
    z-index: -1;

    opacity: 0;
}
.landing .menu-tall-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(calc(-50% + 80px));
    
    width: calc(275px - 16px);
    height: calc(550px - 16px);
    padding: 8px;
    padding-top: 16px;
    padding-right: 0;
    border-radius: 5px;
    background: var(--panel-bg-color-alt);
    box-shadow:  0px 2px 6px #00000062;
    z-index: -1;

    opacity: 0;
}


.advanced-feeds {
    position: relative;
    height: 1300px;
    /* padding-bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    overflow: hidden;
}
.advanced-feeds .text {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    align-items: center;
    text-align: center;
}
.advanced-feeds .text .line {
    display: inline-block;
}
.advanced-feeds .text .small {
    margin-top: 16px;
}

/*! CRITICAL:END */

.advanced-feeds .display {
    width: 100%;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 100;
    position: relative;
    margin-bottom: 30px;
}

.advanced-feeds .center-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 430px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: var(--panel-bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow:  0px 2px 4px #00000062;
}
.advanced-feeds .center-image h3 {
    margin-top: 16px;
    margin-left: 16px;
    color: var(--text-color);
}
.advanced-feeds .center-image .people-wrapper {
    flex-grow: 100;
    width: calc(100% - 16px);
    padding: 8px;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.advanced-feeds .video {
    position: absolute;
}
.advanced-feeds .inner-video {
    margin: 8px;
    height: fit-content;
}
.advanced-feeds .video p,
.advanced-feeds .inner-video p {
    color: var(--text-color-dark);
}
.advanced-feeds .video > div,
.advanced-feeds .inner-video > div {
    background: black;
    border: solid 2px #808080;
    border-radius: 3px;
    overflow: hidden;
}
.advanced-feeds svg {
    transition: top 0s ease, transform 0s ease;
    position: absolute;
    overflow: visible;
    z-index: -1;
}

/* ONE */
.advanced-feeds .video.one {
    top: 8%;
    left: 16%;
    transform: translate(-50%, calc(var(--trig-px)/2 - 2vh) ) rotate(7deg);
}
.advanced-feeds .video.one > div,
.advanced-feeds .inner-video.one > div {
    width: 170px;
    aspect-ratio: 6/10;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.advanced-feeds .inner-video.one > div {
    width: 110px;
}
.advanced-feeds .video.one video,
.advanced-feeds .inner-video.one video {
    height: 100%;
}

/* TWO */
.advanced-feeds .video.two {
    top: 65%;
    left: 16%;
    transform: translate(-50%, calc(var(--trig-px) + 2vh)) rotate(-2deg);
}
.advanced-feeds .video.two > div,
.advanced-feeds .inner-video.two > div {
    width: 310px;
    aspect-ratio: 16/9;
}
.advanced-feeds .inner-video.two > div {
    width: 220px;
}

/* THREE */
.advanced-feeds .video.three {
    top: 40%;
    right: 16%;
    transform: translate(50%, calc(var(--trig-px)/1.7 + 2vh)) rotate(-3deg);
}
.advanced-feeds .video.three > div,
.advanced-feeds .inner-video.three > div {
    width: 330px;
    aspect-ratio: 16/9;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.advanced-feeds .inner-video.three > div {
    width: 240px;
}  
.advanced-feeds .video.three video,
.advanced-feeds .inner-video.three video {
    height: 100%;
}


.software-visual {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.software-visual .background {
    position: absolute;
    width: 100%;
    max-width: 2600px;
    top: 160px;
    overflow: hidden;
}
.software-visual .background .first-layer {
    position: relative;
    -webkit-clip-path: polygon(100% 22%, 100% 51%, 100% 100%, 0 95%, 0 19%, 29% 0);
    clip-path: polygon(100% 22%, 100% 51%, 100% 100%, 0 95%, 0 19%, 29% 0);
}
.software-visual .background .main {
    background: linear-gradient(180deg, #BC42D2 10%, #4879E7 150%);
    height: 1500px;
}
@media only screen and (max-width: 1300px) {
    .software-visual .background .main {
        height: 1400px;
    }
}
@media only screen and (max-width: 1150px) {
    .software-visual .background .main {
        height: 1300px;
    }
}
@media only screen and (max-width: 1000px) {
    .software-visual .background {
        margin-top: 100px;
    }
    .software-visual .background .main {
        height: 1100px;
    }
}
.software-visual .background .golden {
    position: absolute;
    background: var(--accent-color);
    background: linear-gradient(180deg, #665B30 0%, var(--accent-color) 100%);
    left: 0;
    bottom: 0;
    height: 8%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 100%);
}
.software-visual .background .left {
    position: absolute;
    top: 0;
    left: -10vw;
    width: 40vw;
    height: 450px;
    background: rgb(166,76,214);
    background: linear-gradient(350deg, rgba(166,76,214,1) 0%, rgba(159,124,232,1) 28%, rgba(233,163,242,1) 53%); 
    filter: blur(40px);
}
.software-visual .background .right {
    position: absolute;
    top: 0;
    right: -10vw;
    width: 40vw;
    height: 500px;
    background: rgb(164,77,214);
    background: linear-gradient(20deg, rgba(164,77,214,1) 0%, rgba(213,153,239,1) 41%, rgba(225,146,177,1) 56%); 
    filter: blur(40px);
}
.software-visual .background img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(151deg);
    z-index: 1;
    width: 1000px;
    filter: blur(50px);
    opacity: 50%;
}

.software-visual .content {
    position: relative;
    z-index: 2;
}
.software-visual h1 {
    text-align: center;
    padding: 0 24px;
    margin-bottom: 24px;
}
.software-visual img {
    width: 100% !important;
    max-width: 1400px;
}


.built {
    position: relative;
    padding: 0 calc(24px + 5vw);
    padding-top: 64px;
    padding-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.built .lr-wrapper {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.built .side {
    margin-top: 64px;
}
.built .side h2 {
    margin-bottom: 24px;
}
.built .side p {
    color: var(--text-color-midlight);
}
.built .right {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: flex-end;
}



/* TODO: This needs to get moved to the end */
.built .banner {
    margin: 0 auto;
    margin-top: 64px;
}
.built .banner h1,
.built .banner h2 {
    margin-bottom: 8px;
}

.built .banner .mask {
    width: 75vw;
    max-width: 1200px;
    height: 165px;
    cursor: pointer;
    /* background: grey; */
}



.controls {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(227, 227, 227); */
    /* padding: 0 24px; */
    padding-top: 40px;
    padding-bottom: 120px;
    z-index: 2;
}
.controls h1 {
    margin-bottom: 40px;
    width: 500px;
    text-align: center;
    letter-spacing: -0.03rem;
}
.controls .one {
    margin-right: 40px;
}
.controls .two {
    margin-left: 40px;
    text-align: flex-end;
}
.controls h2 {
    color: var(--text-color-mid);
    letter-spacing: 0.05rem;
}
.controls .panes {
    width: 100%;
    margin-top: 80px;
    overflow-x: hidden;
}
.controls .panes .scroll {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.controls .panes .item {
    /* width: fit-content; */
    padding: 24px 24px;
    width: 350px;
    /* background: rgb(189, 189, 189); */
    background: var(--panel-bg-color);
    border-radius: 6px;
    margin: 0 8px;
    user-select: none;
}
.controls .panes .item h3 {
    margin-top: 8px;
    margin-bottom: 16px;
    color: var(--text-color-midlight);
    letter-spacing: -0.03rem;
}
.controls .panes .item p {
    margin-bottom: 24px;
    letter-spacing: 0.03rem;
}


.sports {
    position: relative;
    padding: 64px 0;
}
.sports .background {
    position: absolute;
    height: 2600px;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
    overflow-x: hidden;
}
.sports .background > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sports .background .bg-img {
    margin-top: 1px;
    width: 100%;
    height: 99%;
    background-image: url(../img/pexels-anni-roenkae-4175070-small.jpg);
    background-size: cover;
}
.sports .background.high .bg-img-high {
    position: absolute;
    top: 1px;
    left: 0;

    width: 100%;
    height: 98%;
    background-image: url(../img/pexels-anni-roenkae-4175070-medium.jpg);
    background-size: cover;
}
@media only screen and (min-width: 700px) {
    .sports .background.high .bg-img-high {
        background-image: url(../img/pexels-anni-roenkae-4175070.jpg);
    }
}
.sports .background .overlay {
    position: absolute;
    top: -1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(175deg, #1D1D1F 10%, #1d1d1f2b 45%, #1D1D1F 90%);
}
.sports .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.sports .banner {
    margin-top: 64px;
    width: 80%;
    max-width: 1400px;
}
.sports .banner.two {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: flex-end;
}
.sports .banner h1 {
    width: 400px;
}
.sports .banner .mask {
    position: relative;
    margin-top: 8px;
    width: 100%;
    height: 390px;
    background: var(--panel-bg-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* First banner */
.sports .inner-content {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    left: calc(50px + 5%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sports .inner-content h3 {
    font-style: italic;
    font-weight: 400;
    margin-left: 24px;
    color: var(--text-color-midlight);
    transition: color 0.2s;
}
.sports .inner-content:hover h3 {
    color: var(--text-color);
}
.sports .icon {
    width: 110px;
    height: 110px;
    background: var(--icon-bg-color);
    border: solid 1px var(--icon-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
    overflow: hidden;
}
.sports .inner-content:hover .icon {
    background: var(--icon-bg-color-hover);
}
.sports .icon h3 {
    color: var(--text-color-midlight);
}
.sports .grid {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: -40px;
}
.sports .grid .icon {
    margin-right: 30px;
}
.sports .grid .icon img {
    width: 100%;
    height: 100%;
}
.sports .grid .row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.sports .grid .row.two {
    transform: translateX(70px);
}
.sports .grid .row.three {
    transform: translateX(140px);
}

/* Second banner */
.sports .banner.two .mask {
    justify-content: space-evenly;
}
.sports .videos {
    display: flex;
    flex-direction: column;
}
.sports .videos .video {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0;
}
.sports .videos .black {
    width: 300px;
    aspect-ratio: 16/9;
    background: black;
    border: solid 2px #8080807e;
    border-radius: 3px;
}
.sports .buttons {
    display: flex;
    flex-direction: column;
}
.sports .buttons .row {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.sports .buttons .row.two {
    margin-left: 40px;
}
.sports .buttons .row.three {
    margin-left: 80px;
}
.sports .btn {
    width: 260px;
    background: var(--icon-bg-color);
    border: solid 1px var(--icon-border-color);
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    padding: 4px 0;
}
.sports .btn > * {
    font-size: 24px;
    font-weight: 800;
}

/* LR Section */
.sports .lr-wrapper {
    width: 80%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
}
.sports .lr-wrapper h1 {
    margin-top: 120px;
}
.sports .lr-wrapper .right {
    align-self: flex-end;
}


.cta-end {
    padding-top: 150px;
    padding-bottom: 150px;
}
.cta-end .content {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 24px;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.cta-end .content .pane {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    min-height: 530px;
    margin-left: auto;
    margin-right: auto;
    background: var(--panel-bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow:  0px 3px 9px #00000062;
}
.cta-end .content .pane.left {
    background: #CE75E7;
    border: solid 0.5px #CE75E7;
}
.cta-end .content .pane.left .subtext {
    color: var(--text-color-midlight);
}
.cta-end .content .pane.left .action {
    background: linear-gradient(180deg, #00000000 0%, #00000077 100%);
}
.cta-end .content .pane.left .gem {
    position: absolute;
    bottom: 0;
    right: 25px;
    width: 500px;
    height: 500px;
    transform: translate(50%, 50%);
    user-select: none;
    z-index: -1;
}
.cta-end .content .pane.right {
    border: solid 1px var(--panel-bg-color);
}
.cta-end .content .pane.right .gem {
    position: absolute;
    top: 120px;
    left: -90px;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
}
.cta-end .content .pane.right .action {
    position: relative;
    z-index: 1;
    /* background: green; */
}
.cta-end .content .pane.right .github {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.cta-end .content .pane.right .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    background: linear-gradient(180deg, #28282B 0%, #28282b38 100%);
}
.cta-end .content h1 {
    margin-top: 64px;
}
.cta-end .content .action {
    width: calc(100% - 32px);
    margin-top: 96px;
    padding: 16px;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
}

/* Styling for both sides */
.cta-end .checkbox-input {
    display: flex;
    flex-direction: row;
}
.cta-end .submit-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.cta-end .final-btn {
    position: relative;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    padding: 12px 32px;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 700;
    border: solid 2px var(--btn-border-color);
    background: var(--btn-bg-color);
    color: var(--text-color-midlight);
}
.cta-end .left .final-btn {
    margin-top: 0;
    margin-bottom: auto;
}
.cta-end .final-btn img:not(.loading) {
    margin-left: 52px;
    width: 24px;
    height: 24px;
    opacity: 1;
    transition: opacity 0.05s;
}
.cta-end .final-btn img.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.05s;
    filter: invert();
}
.cta-end .final-btn.loading img.loading {
    opacity: 1;
    transition: opacity 0.2s;
}
.cta-end .final-btn p {
    width: max-content;
    opacity: 1;
    transition: opacity 0.05s;
}
.cta-end .final-btn.loading p {
    opacity: 0;
    transition: opacity 0.2s;
}
.cta-end .final-btn.loading img:not(.loading) {
    opacity: 0;
    transition: opacity 0.2s;
}

@media only screen and (max-width: 1000px) {
    .software-visual .background {
        margin-top: 100px;
    }
    .software-visual .background .main {
        height: 1050px;
    }
}


/* Notify-me Email input */
#NMemail {
    width: calc(100% - 32px);
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    color: var(--text-color-midlight);
    background: rgba(36, 35, 37, 0.749);
}
#NMemail.warn {
    outline: solid 2px #F1D051;
}
.NMemail-warning.active {
    width: fit-content;
    margin-top: 4px;
    margin-left: 8px;
    color: #F1D051;
    text-shadow: rgba(0, 0, 0, 0.214) 0px 0.5px 2px;
}

/* Notify-me pre-release input */
/* Switch Input */
.checkbox-input {
    width: fit-content;
    margin-top: 8px;
    margin-bottom: 64px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    background: rgb(47, 47, 50, 0.5);
    z-index: 4;
}
.checkbox-input img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.checkbox-input p {
    margin: 0;
    margin-right: 16px;
    color: var(--text-color-midlight);
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    background: #1A1A1A;
    -webkit-transition: .4s;
    transition: .4s;
}
.switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 6px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50%;
    background: var(--text-color-midlight);
    -webkit-transition: .4s;
    transition: .4s;
}
.switch input:checked + .switch-slider {
    background: var(--second-color);
}
.switch input:focus + .switch-slider {
    outline: auto;
}
.switch input:checked + .switch-slider:before {
    -webkit-transform: translate(20px, -50%);
    -ms-transform: translate(20px, -50%);
    transform: translate(20px, -50%);
}

.cta-end .messages {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 12px;
    overflow: visible;
}
.NMemail-warning,
.submit-warning,
.submit-problem,
.submit-success {
    opacity: 1;
    width: 230px;
    translate: 0 -3px;
    transition: opacity 0.5s ease-in-out 0.25s, height 0.5s ease-in-out, margin 0.5s;
    margin: 0;
    margin-left: auto;
    cursor: default;
}
.submit-success {
    transition: opacity 1s ease-in-out 0.1s, height 1s ease-in-out;
}

.submit-warning,
.submit-problem,
.submit-success {
    margin-top: 4px;
    margin-right: 16px;
    height: 32px;
    display: flex;
    align-items: center;
}
.submit-warning p {
    margin: 0;
    width: fit-content;
    /* font-size: 14px; */
    color: #F1D051;
    text-shadow: rgba(0, 0, 0, 0.189) 0px 0.5px 2px;
}
.submit-warning img {
    filter: drop-shadow(rgba(0, 0, 0, 0.19) 0px 0.5px 2px)
}
.submit-problem p {
    margin: 0;
    /* font-size: 14px; */
    color: #8b0000;
    text-shadow: rgba(0, 0, 0, 0.207) 0px 0.5px 2px;
}
.submit-problem img {
    filter: drop-shadow(rgba(0, 0, 0, 0.19) 0px 0.5px 2px)
}
.submit-success p {
    margin: 0;
    /* font-size: 14px; */
    color: white;
}
.submit-warning img,
.submit-problem img,
.submit-success img {
    width: 22px;
    height: 22px;
    margin-right: 8px;
}

.NMemail-warning:not(.active),
.submit-warning:not(.active),
.submit-problem:not(.active),
.submit-success:not(.active) {
    margin-top: 0;
    opacity: 0;
    height: 0px;
    transition: opacity 0.35s ease-in-out, height 0.35s ease-in-out 0.17s, margin 0.35s linear 0.17s;
}


footer {
    height: 400px;
    background: var(--nav-bg-color);
}







.vid-underline {
    position: relative;
    display: inline-block;
}
h1 .vid-underline {
    line-height: 62px;
}
h2 .vid-underline {
    line-height: 48px;
}
.vid-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: linear-gradient(135deg, var(--main-color) 0% 0%, var(--second-color) 100% 100%);
}
@keyframes lineExpand {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}



/* Hiding a part of the tinyslider auto-generated elements */
.tns-visually-hidden {
    display: none !important;
    background: blue;
}